.season-structure{
    margin: auto;
    width: 60%;
    min-width: 740px;
}

.group-container{
    background-color: var(--bg-color);
    box-shadow: 0 2px 8px var(--shadow-color);
    padding: 8px;
    border-radius: var(--border-radius);
    max-width: 100%;
    margin: 10px 0;
}
.group-filter{
    height: var(--input-height);
    padding: var(--input-padding);
    font-size: var(--font-size);
    color: var(--text-dark);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    transition: border-color var(--transition);
    margin-bottom: 6px;
    margin-left: 6px;

}
.group-title{
    margin: 5px 0;
    margin-left: 3px;
}
.group-filter:focus {
    border-color: var(--selected-border-color);
    outline: none;
  }